<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytooo.repository.dao.QuartzInfoEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.ytooo.repository.QuartzInfoEO" >
    <id column="id" property="id" />
    <result column="batch_type" property="batchType" />
    <result column="name" property="name" />
    <result column="execute_time" property="executeTime" />
    <result column="object_name" property="objectName" />
    <result column="object_method" property="objectMethod" />
    <result column="batch_desc" property="batchDesc" />
    <result column="execute_parameter" property="executeParameter" />
    <result column="created_date" property="createdDate" />
    <result column="modified_date" property="modifiedDate" />
    <result column="is_delete" property="isDelete" />
  </resultMap>

  <!-- TA_QUARTZ_INFO table all fields -->
  <sql id="Base_Column_List" >
     id, batch_type, name, execute_time, object_name, object_method, batch_desc, execute_parameter, created_date, modified_date, is_delete
  </sql>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.ytooo.repository.QuartzInfoEOPage">
    select <include refid="Base_Column_List"/> from ta_quartz_info where is_delete=0
  </select>

</mapper>
